.service-blocks{
    background-color: #eee;
    border: 2px solid #666;
    padding: 1rem 0rem;
    margin: 0rem 1rem;
    border-radius: 1rem; 
    text-align: left;
    margin-bottom: 3rem;
}
.service-image img {
    margin-left: 1rem;
}
.main-result{
    text-align: left;
    padding-left: 1rem;
}
.move-left{
    text-align: left;
}
.move-right{
    float: right;
}
.service-text {
    padding-top: 2rem;
}